html{
    scroll-behavior: smooth;
}
.navbar
{
    height: 100px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}
.logotype
{
    width: 35%;
    border: 1px solid black;
}
.logo
{
    width: 5em;
    height: 5em;
    border-radius: 100%;
}
.navigation_words
{
    margin-left: -100px;
    width: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}
.cakes{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.cakes_border
{
    height: 2.5em;
    width: 70%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}